/*
font-family: 'Changa', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Encode Sans SC', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Oxanium', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Red Rose', cursive;
font-family: 'Rosario', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Grotesk', sans-serif;
*/

/* index */
body {
    background-color: #525454;
    color: #6C91BA;
    font-family: 'Changa', sans-serif;
}

/* navbar */
/*===============================================================================================================================*/
#navbar {
    background-color: #414343;
    width: 30vh;
    height: 100vh;   
    position: fixed; 

    .name {
        -webkit-text-stroke: 1px #6C91BA;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .fName {
        text-align: left;
    }
    .lName {
        text-align: right;
    }

    .pronounce {
        text-align: center;
    }

    img{
        text-align: center;
        margin: 2vh;    
        height: auto;
        width: 70%;
        border: solid #6C91BA;
        border-radius: 25%;
    }

    a {
        color:#6C91BA;
        align-items: center;
        text-align: center;
    }

    #links {
        height: 40%;
        .row {
            padding: 5% 0;
        }
        .row:hover {
            background-color: #877877;
            #overlayText {
                color: white;
                display: block;
            }
            .show {
                display: none;
                transition: 0.5s linear;
            }
        }
    }
    
    #overlayText {
        display: none;
    }

    #copyright {
        text-align: center;
        color: #AAA;
    }

}

/* Header */
/*===============================================================================================================================*/
header {
    background: url('/images//TempHeader.jpg') top center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    margin-left: 30vh;
    opacity: 80%;
}

#heading {
    margin-left: 30vh;
    padding-top: 40vh;
    height: 80vh;
}

#name {
    text-align: center;
    align-items: center;
}

/* About */
/*===============================================================================================================================*/
#About {
    margin-left: 30vh;
}

#first, #last {
    background-color: #614D47;
}

#first, #second, #third, #last {
     margin: 1rem;
     padding: 1%;
     padding-right: 3%;
     border: solid black 2px;
}

.jumbotron {
    border-radius: 25px;
    color:#6C91BA;
    text-align: center;
    animation: jumbo 8s ease forwards infinite;
    animation-delay: 2s;
    height: 20vh;
}

@keyframes jumbo {
     0%, 100% {
         background-color: #525454;
         color: #6C91BA;
       }
    33%, 66% {
        background-color: #777F87;
        color: black;
    }    
}

#fader {
    animation: switch 8s ease forwards infinite;
}

@keyframes switch {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
}


#About {
    text-align: justify;
}

#knowMore {
    margin: 10vh;
}

.listItem {
    list-style-type: none;
}

#plum, #UoT {
    max-width: 80%;
}
#plum {
    margin-top: 40%;
    max-height: 50%;
}


/* Thor */
/*===============================================================================================================================*/
.slideshow-container {
    text-align: center;
    margin-left: 30vh;
    max-width: 1000px;
    position: relative;
    margin: auto;

    img {
        width: auto;
        height: 30vh;
    }
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Fading animation */
  .flip {
    animation-name: flip;
    animation-duration: 2s;
  }
  
  @keyframes flip {
    from {opacity: 0.2}
    to {opacity: 1}
  }


  /**************************************************************************************************************************/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/* Skills */
/*===============================================================================================================================*/
#Skills {
    margin-left: 30vh;
    
    #languages {
        align-items: center;
        text-align: left;
    }
}

.card {
    background-color:#877877;
    color: black;
    padding: 10px;
}

.card-img-top {
    align-self: center;
    max-height: 100px;
    width: auto;
}
/* Contact */
/*===============================================================================================================================*/
form {
    background-color: #877877;
}