<nav id="navbar" class="nav-menu navbar">
  <div class="profile">
    <img src="./assets/images/Me_Placeholder.jpg" alt="">
    <h3 class="name"><div id="fName">Jonathan</div><div id="lName">Dikteruk</div></h3>
    <h5 class="name">
      (DIK - ter - OOK)
    </h5>
    <div class="links">
      <a href="index.html" class="nav-link scrollto active">
        <i class="bi bi-house-door-fill"></i>
        <span>Home</span>
      </a>
      <a href="#About" class="nav-link scrollto">
        <i class="bi bi-file-person-fill"></i>
        <span>About</span>
      </a>
      <a href="#Skills" class="nav-link scrollto">
        <i class="bi bi-tools"></i>
        <span>Skills</span>
      </a>
      <a href="#Portfolio" class="nav-link scrollto">
        <i class="bi bi-briefcase-fill"></i>
        <span>Portfolio</span>
      </a>
      <a href="#Contact" class="nav-link scrollto">
        <i class="bi bi-envelope-fill"></i>
        <span>Contact</span>
      </a>
    </div>
    <p id="copyright">&copy; <script>document.write(new Date().getFullYear())</script> - Jonathan Dikteruk</p>
  </div>
</nav>