 <h2>SKILLS</h2>
  <hr>
    <div>
        <h4>Programming Languages</h4>
          <div class="row justify-content-center">
            <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="images/cSharpLogo.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h4 class="card-title">C#</h4>
                  <p class="card-text">Brief summary of what the project does.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="images/dotnet.svg" alt="Card image cap">
                  <div class="card-body">
                  <h4 class="card-title">ASP.NET</h4>
                  <p class="card-text">Brief summary of what the project does.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="images/VBA.png" alt="Card image cap">
                  <div class="card-body">
                  <h4 class="card-title">VBA</h4>
                  <p class="card-text">Brief summary of what the project does.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="images/batchLogo.png" alt="Card image cap">
                  <div class="card-body">
                  <h4 class="card-title">Batch</h4>
                  <p class="card-text">Brief summary of what the project does.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-2">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/HTMLLogo.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">HTML CSS JS</h4>
                <p class="card-text">Brief summary of what the project does.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="images/..." alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">SQL</h4>
                <p class="card-text">Brief summary of what the project does.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">MySQL</li>
                  <li class="list-group-item">T-SQL</li>
                  <li class="list-group-item">Oracle SQL</li>
                  <li class="list-group-item">PostgreSQL</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./images/oracleLogo.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Oracle</h4>
                <p class="card-text">Brief summary of what the project does.</p>
              </div>
            </div>
          </div>
        
    </div>

        <!-- make this a table -->
        <h4>Soft Skills</h4>
        <ul>
            <li>Effective Communication</li>
            <li>Communicating technical information to non-technical audience</li>
            <li>Logical Problem Solver</li>
        </ul>
    </div>
    <div>
        <h4>Technical Skills</h4>
        <ul>
            <li>Relational Databases</li>
            <li>Peoplesoft Finance & HCM </li>
            <li> </li>
        </ul>
    </div>