/* Navbar */
#nav {
    background-color: black;
    color: white;
    height: 100vh;
    width: 30vh;
    margin-left: 0;
    position: fixed;
    text-align: center;

    img {
        margin: 5%;
        width: 50%;
        border: solid white;
        border-radius: 25%;
    }

    #fName{
        text-align: left;
        padding: 3%;
    }

    #lName{
        text-align: right;
        padding: 3%;
    }

    pn1, pn2, pn3 {
        transition: .7s linear;
        animation: pronounce forwards;
    }
    
    @keyframes pronounce{
        0%{
            
        }

        50%{}

        100%{}
    }

    .links {
        margin-top: 30%;
        margin-bottom: 50%;

    }
}

