<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Portfolio for Jonathan Dikteruk showcasing Full Stack Development and other programming examples."
    name="description">

  <title>Jonathan Dikteruk</title>

  <!-- Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/style/style.css" rel="stylesheet">
  <link href="/style/about.css" rel="stylesheet">

  <!-- Fonts & Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Changa:wght@300;400&family=El+Messiri&family=Encode+Sans+SC:wght@300;400&family=Genos:ital,wght@0,300;0,400;1,300;1,400&family=Jura:wght@300;400&family=Maven+Pro&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=MuseoModerno:wght@300;400&family=Oxanium:wght@300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;1,300;1,400&family=Red+Rose:wght@300;400&family=Rosario:ital,wght@0,300;0,400;1,300;1,400&family=Saira:ital,wght@0,300;0,400;1,300;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300;1,400&family=Space+Grotesk:wght@300;400&display=swap"
    rel="stylesheet">


</head>

<body>
  <main>
  <section id="About">


    <div class="container">
      <h2>ABOUT</h2>
      <h3 id="aboutHeading">Providing technical solutions resolving business challenges</h3>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col" id="first">
            <h4>A Developer's Development</h4>
            <h5>Asking the "RIGHT" questions</h5>
            <p>Are you in need of a business solution that will:
            <ul>
              <li>reduce man-hours</li>
              <li>remove the grind of repetitive tasks</li>
              <li>easily duplicate results</li>
              <li>take the complexity out of various processes</li>
              <li>eliminate the human element of data manipulation</li>
            </ul>
            <span>Congratulations!</span> Your search is at an end.
            </p>
          </div>
          <div class="col" id="second">
            <h5>VLOOKUP is for beginners</h5>
            <p>Thousands of records, multiple commissions rules, a year's worth of data in review led myself to keep
              asking
              <br><strong>"Self, how can we do this better?"</strong>
              <br>I scoured Google and YouTube to find the answers and got bit by the programming bug.
              <br>What?! No, not THAT bug. It was the intense burning desire for learning more.
              <br>I took that analysis from several days to a few hours, and with the help of a business analyst, also
              took my first steps into SQL.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col" id="third">
            <h5>It took you HOW LONG?</h5>
            <p>When a colleague said it took three days a month to compile data, balance accounting, and report
              results I almost cried.
              <br>I can help!. Let me help. I'm certain I can shave a few hours at least off that.
              <br>Not only did I cut hours, I cut days. From start to finish compiling data, identify the balancing
              issues, and generate those results consistently now took 2-3 hours.
            </p>
          </div>
          <div class="col" id="last">
            <h5>Integrating Data Integrity</h5>
            <p>You're telling me we have four workbooks to enter information. Why?!?
              <br>I constructed a user form to enter the information <strong>once</strong>. I eliminated the need for
              adjustments in the commissions department and drastically reduced the number of hours it took to audit
              those commission records.
              <br>The data was parsed and saved to the various workbooks, performed complex calculations, and
              automatically send commissions paperwork to payroll for processing.
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="jumbotron">
        <h5 class="display-4">Impressed?</h5>
        <span id="fader" class="lead"></span>
        <br>
        <p>Click here!!</p>
      </div>
    </div>
    <div>
      <div class="container" id="knowMore">
        <div class="row" id="workStyle">
          <div class="col-md-4">
            <img src="/images/Jon.jpg">
          </div>
          <div class="col-md-4">
            <h4>Work Style</h4>
            <p>I encourage an environment of:</p>
            <ul id="styleList">
              <li class="listItem">accountability</li>
              <li class="listItem">open communication</li>
              <li class="listItem">transparency</li>
              <li class="listItem">problem ownership</li>
              <li class="listItem">shared successes</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="row">
              <p>Don't take my word for it...</p>
            </div>
            <div class="row">
              <div class="row" id="workAssessment">
                <div class="col-sm-12">
                  <a style="color: #614D47;"
                    href="https://strengthsbasedresilience.com/assessments/feedback/RzJL8BGJbr" target="_blank">
                    <h5>Strength Based Resiliance Assessment</h5>
                    <img id="UoT" src="/images/UoT_S.png">
                  </a>
                </div>
              </div>
              <div class="row" id="workAssessment">
                <div class="col-sm-12">
                  <a href="https://secure.plum.io/p/TEJm1vzdvTiA9V35v05pYw" target="_blank"><img id="plum"
                      src="/images/plum.png"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="passion">
          <div class="col-md-4">
            <h4>Passion & Motivation</h4>
            <p>Now, you <i>should</i> have a better idea of the <span>what</span> and the <span>how</span>. Time for
              the <span>why</span>.
              <br>My answer is simple. This is my Thor. All I long for is to give him a comfortable life and the
              backyard he deserves.
            </p>
          </div>
          <div class="col-md-4">
            <!-- Thor -->
            <div class="container">
              <div class="slideshow-container">

                <div class="mySlides">
                  <img src="/images/Thor/ThorAmCute.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorCuddles1.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorDinners.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorCuddles2.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorAmWorried.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorDrives.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorCuddles3.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorBlankie.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorSits.jpg">
                </div>

                <div class="mySlides">
                  <img src="/images/Thor/ThorAmHapp.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



  </section>
</main>
  <script src="/js/connectList.js"></script>
  <script src="/js/carousel.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>