<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

<div class="container" id="About">
  <h2>ABOUT</h2>
  <h3 id="heading">Providing technical solutions to conquer business problems</h3>
  <hr>
  <div>
      <h4>A Developer's Development</h4>
      <h5>Asking the "RIGHT" questions</h5>
      <p>Are you in need of a business solution that will:
          <ul> 
              <li>reduce man-hours</li>
              <li>remove the grind of repetitive tasks</li>
              <li>easily duplicate results</li>
              <li>take the complexity out of various processes</li>
              <li>eliminate the human element of data manipulation</li>
          </ul>
          <span>Congratulations!</span> Your search is at an end.
      </p>
      <h5>VLOOKUP is for beginners</h5>
      <p>Thousands of records, multiple commissions rules, a year's worth of data in review led myself to keep asking 
          <br><span>"Self, how can we do this better?"</span>
          <br>I scoured Google and YouTube to find the answers and got bit by the programming bug. 
          <br>What?! No, not THAT bug. It was the intense burning desire for learning more. 
          <br>I took that analysis from several days to a few hours, and with the help of a business analyst, also took my first steps into SQL.
      </p>
      <h5>It took you HOW LONG?</h5>
      <p>When a colleague said it took three days a month to compile data, balance accounting, and report results I almost cried. 
          <br>I can help!. Let me help. I'm certain I can shave a few hours at least off that.
          <br>Not only did I cut hours, I cut days. From start to finish compiling data, identify the balancing issues, and generate those results consistently now took 2-3 hours.
      </p>
      <h5>Integrating Data Integrity</h5>
      <p>You're telling me we have four workbooks to enter information. Why?!?
          <br>I constructed a user form to enter the information <strong>once</strong>. I eliminated the need for adjustments in the commissions department and drastically reduced the number of hours it took to audit those commission records.
          <br>The data was parsed and saved to the various workbooks, performed complex calculations, and automatically send commissions paperwork to payroll for processing.
      </p>
          <br>
      <h5>Impressed?</h5>
      <p>See my <a href="#">resume</a>. Connect on <a href="https://www.linkedin.com/in/jonathandikteruk/" target="_blank">LinkedIn</a></p>
      <p>You know what needs to be done. 
        <!--<br>Click <span><a href="#schedule">here</a></span> to schedule a call.-->
        <br>Contact me directly <a href="#contact">here.</a></p>
  </div>
  <div>
      <h4>Work Style</h4>
      <p>I foster an environment of accountability, open communication and transparency, and problem ownership with a shared achievement of success all in a humorous, low-stress package.
          <br>Don't just take my word for it. See for yourself.
      </p>
      <!-- Save as html pages to ref in folder; make 3 cols-->
          <a href="https://strengthsbasedresilience.com/assessments/feedback/RzJL8BGJbr" target="_blank">here</a>

          <a href="https://secure.plum.io/p/TEJm1vzdvTiA9V35v05pYw" target="_blank">or here</a>
  </div>
  <div>
      <h4>Passion & Motivation</h4>
      <p>Now, you <i>should</i> have a better idea of the <span>what</span> and the <span>how</span>. Time for the <span>why</span>.
          <br>My answer is simple. This is my Thor. All I long for is to give him a comfortable life and the backyard he deserves.
      </p>    
  </div>
</div>

 <!-- Bootstrap -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
