<h2>PORTFOLIO</h2>
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/Wheeljack.PNG" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Wheeljack's Lab</h4>
            <p class="card-text">A Project Management / Issue Tracker</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">What did I use to build?</li>
            <li class="list-group-item">Some other detail</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Link to project application</a>
            <a href="#" class="card-link">Link to Blog re application development</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/SoundwavePlaceholder.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Blog</h4>
            <p class="card-text">Brief summary of what the project does.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">What did I use to build?</li>
            <li class="list-group-item">Some other detail</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Link to project application</a>
            <a href="#" class="card-link">Link to Blog re application development</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/Matrix.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Thought Recorder</h4>
            <p class="card-text">Brief summary of what the project does.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">What did I use to build?</li>
            <li class="list-group-item">Some other detail</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Link to project application</a>
            <a href="#" class="card-link">Link to Blog re application development</a>
          </div>
        </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Frost.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Website</h4>
              <p class="card-text">Brief summary of what the project does.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">What did I use to build?</li>
              <li class="list-group-item">Some other detail</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Link to project application</a>
              <a href="#" class="card-link">Link to Blog re application development</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Ship.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Inventory Control</h4>
              <p class="card-text">Brief summary of what the project does.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">What did I use to build?</li>
              <li class="list-group-item">Some other detail</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Link to project application</a>
              <a href="#" class="card-link">Link to Blog re application development</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Money.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Financial App</h4>
              <p class="card-text">Brief summary of what the project does.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">What did I use to build?</li>
              <li class="list-group-item">Some other detail</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Link to project application</a>
              <a href="#" class="card-link">Link to Blog re application development</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row justify-content-center" >
      <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/Cybertron.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cybertron</h4>
          <p class="card-text">Brief summary of what the project does.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">What did I use to build?</li>
          <li class="list-group-item">Some other detail</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link to project application</a>
          <a href="#" class="card-link">Link to Blog re application development</a>
        </div>
      </div>
    </div>
  </div>